*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerImage{
    width: 100%;
}

.topNav{
    position: relative;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    background-color: rgb(255, 255, 253);
    backface-visibility: 50%;
}

.topNav img{
float: left;
}

.topNav a{
    position: absolute;
    top: 8px;
    left: 16px;
    color: #8b8b8b;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topNavCenter{
    position: absolute;
    top: 8px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
   
}

.topNav a.active{
color: #ee1c1c;
}

.topNav img{
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.topNavImg{
    position: relative;
    text-align: center;
}

.topNavImg img{
    width: 100%;
    filter: blur(1px);
}

@media (max-width: 800px){
    .flexContainer{
        flex-direction: column;
}