*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav{
    width: 90%;
    height: 70px;
    background-color: rgb(255, 251, 245);
    border-radius: 20px;
    opacity: 90%;
    margin-left: 4em;
}

.topNav a{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #8b8b8b;
    padding-top: 2em;
    font-size: 80%;
    padding: 2em;
    text-decoration: none;
}

.NavImg{
    background-image: url(../assets/images/homePageHeader.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 750px;
}

.topNavCenter{
    padding-top: 1em;
    padding-left: 8em;
    position: absolute;
    top: 1.5%;
    left: 30%;
}

.topNavCenter a.active{
color: #ee1c1c;
}

.topNav img{
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    padding-left: 1em;
    padding-top: 1em;
}

.flexContainer{
    display: flex;
    font-size: 20px;
    align-items: center;
    background-color: #34075f;
    padding-right: 6em;
    
}

.flexContainer img{
    padding: 5%;
    width: 700px;
    height: 700px;
    float: left;
}

.imgImgOverlay {
    position: relative;
    text-align: center;
}

.centerLeft{
    position: absolute;
    top: 50%;
    left: 16px;
}

.centerLeft img{
    margin-left: 2em;
    width: 40px;
    height: 50px;
}

.centerRight{
    position: absolute;
    top: 50%;
    right: 16px;
}

.centerRight img{
    margin-right: 2em;
    width: 40px;
    height: 50px;
}

.flex2{
    padding-left: 2em;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: left;
    align-items: center;
}

.flex2Blue{
    color: rgb(0, 225, 255);
    text-transform: uppercase;
    font-size: 16px;
}

.h1White{
    color: aliceblue;
    text-transform: uppercase;
}

.flex2White{
    color: aliceblue;
}

.flex2Button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 160px;
    height: 60px;
    background-color: rgb(207, 25, 22);
    border-radius: 5px;
}

.flexContainer2{
    display: flex;
    font-size: 20px;
    align-items: center;
    background-color: #ffffff;
    padding-right: 6em;
}

.flex3{
    padding-left: 2em;
    padding-right: 4em;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.flex3Blue{
    color: rgb(0, 225, 255);
    text-transform: uppercase;
    font-size: 16px;
}

.h1Purple{
    color: #34075f;
    font-weight: bold;
}

.flex3Grey{
    color: #5A5A5A;
}

.flexContainer2 img{
    padding-top: 2em;
    padding-bottom: 2em;
    float: right;
}

.flexContainer3 {
        width: 100%;
        font-size: 20px;
        background-color: #34075f;
        text-align: center;
        padding: 4em;
}

.flex4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex4Blue{
    color: rgb(0, 225, 255);
    text-transform: uppercase;
    font-size: 16px;
}

.flex4h1white{
    color: aliceblue;
    width: 70%;
    padding-left: 11em;
    padding-bottom: 2em;
}

.flexItem4{
    flex: 25%;
    padding: 5px;
    flex-wrap: wrap;
}

.flexItem4 img{
    width: 225px;
    height: 250px;
}

.h2White{
    color: aliceblue;
    font-size: 18px;
    width: 80%;
    padding-left: 3em;
}

.flex4White{
    color: aliceblue;
    font-size: 12px;
    width: 90%;
    padding-left: 3em;
}

.flexItem5{
    text-align: center;
    padding-left: 23.5em;
    margin-top: 2em;
}

.flexContainer4{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 4em;
}

.flexItem6{
    text-align: left;
    flex: 25%;
    padding: 5px;
    width: 25%;
    padding-left: 3em;
    padding-right: 3em;
}

.flexItem6 img{
    width: 300px;
    height: auto;
}

.flexItem6 a{
    text-decoration: none;
    color: #5A5A5A;
}

.flexImg7{
    display: flex;
    flex-direction: row;
}

.flexImg7 img{
    padding: 5px;
    width: 80px;
    height: auto;
}

footer{
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 2em;
    padding-bottom: 2em;
}

hr{
    color: #8b8b8b;
}

.pLeft{
    color: #8b8b8b;
    float: left;
}

.pRight{
    color: #8b8b8b;
    float: right;
    padding-left: 2em;
}
